.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2.5rem;
    background-color: rgba(101, 101, 101, 0.502);
}

.links{
    display: flex;
    gap: 1rem;
}